{{ define "vote" }}
{{ template "header" }}

<style type="text/css">
	.card {
		background-color: #8C0AA9;
	}

	.tint {
		filter: opacity(60%);
	}
</style>

<div class="container">
	<div class="row center-align">
		<h3>Vote for one of the images</h3>
	</div>
	<div class="row" style="display: flex; flex-wrap: wrap;">
		{{ range .}}
			<div class="col s12 m6 l4" style="margin-right: auto">
				<div class="card">
					<div class="card-image">
						<img id="{{.}}" src="/assets/submissions/{{.}}/picture.png">
					</div>
					<div class="card-content center-align" style="background-color: white; padding: 4px">
						<p><strong>Votes: <span></span></strong></p>
					</div>
				</div>
			</div>
		{{ end }}
	</div>

	<div class="row">
		<button class="btn-large waves-effect waves-light waves-purple btn-purple" style="display: block;margin: auto">Vote</button>
	</div>
</div>

{{ template "footer" }}

<script type="text/javascript">
	$(".card").click(function () {
		$(".card").find("img").removeClass("tint");
		$(this).find("img").addClass("tint");
	});

	$.each($("span"), function(index, value) {
		$.get("/assets/submissions/" + (index+1) + "/votes.txt", function(data) {
			$(value).text(data);
		});
	});

	$("button").click(function() {
		var tinted = $(".tint");
		if (tinted.length == 0) {
			alert("You must select an image");
		} else {
			$.post("/vote?id=" + tinted.attr("id"));
			window.location.replace("/vote");
		}
	});
</script>

{{ end }}