{{ define "footer" }}
	</main>

	<footer class="page-footer grey darken-3">
		<div class="container">
			<div class="row">
				<div class="col l6 s12">
					<h5 class="white-text">Footer Content</h5>
					<p class="grey-text text-lighten-4">This is the footer. 
						The quick links to the right work, however the social 
						media links do not. After all this is a fake website.</p>
				</div>
				<div class="col l4 offset-l2 s12">
					<h5 class="white-text">Links</h5>
					<ul>
						<li><a class="grey-text text-lighten-3" href="/">Home</a></li>
						<li><a class="grey-text text-lighten-3" href="/contact">Contact</a></li>
						<li><a class="grey-text text-lighten-3" href="/vote">Vote</a></li>
						<li><a class="grey-text text-lighten-3" href="/enter">Enter</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-copyright" style="background-color: rgba(140, 10, 169, 0.75)">
			<div class="container">
				© 2018 Copyright Text
				<a class="waves-effect waves-light btn-floating social facebook right" style="margin-left: 10px;">
				<i class="fa fa-facebook"></i> Sign in with facebook</a>
				<a class="waves-effect waves-light btn-floating social instagram right" style="margin-left: 10px;">
				<i class="fa fa-instagram"></i> Sign in with instagram</a>
				<a class="waves-effect waves-light btn-floating social twitter right" style="margin-left: 10px;">
				<i class="fa fa-twitter"></i> Sign in with twitter</a>
			</div>
		</div>
	</footer>

	<!--JavaScript at end of body for optimized loading-->
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="/assests/js/materialize.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
		  $('.sidenav').sidenav();
		});
	</script>
</body>
</html>

{{ end }}